node_modules/
.env
.config/
.tmp/
*.dl
*.bin
*.dat
*.cache
node_identity.key
session_store.dat
route_table.cache
cache_store.bin
network_trace.log
tls.crt
tls.key
conn_config.json
conn_config.yml
improved-limboproxy/
refined-limboproxy/
java-minecraft-limbo-source/

opencode.json
